/* assets/css/custom-login.css */
:root {
    --primary: red;
}

body.login {
    background-color: #fff; /* Color de fondo */
}

#login {
    padding-top: 1rem;
}

#loginform {
background: transparent;
  border: none;
  box-shadow: none;
  padding-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.login h1 {
    display: none;
}

.custom-login-logo {
    width: 320px;
    padding: 5% 0 0;
    margin-inline: auto;
}

.custom-login-logo a {
    display: flex;
}

.custom-login-logo img {
    max-width: 100%;
    height: auto;
}

#wp-submit {
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    height: 2.5rem;
    font-size: 1rem;
    padding-inline: 1rem;
    background: var(--primary);
    border: none;
}

.dashicons.dashicons-visibility,
.dashicons.dashicons-hidden {
    color: var(--primary);
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
    color: var(--primary);
    text-decoration: underline;
}


/* Ocultar el selector de idioma */
.language-switcher {
    display: none !important;
}


input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
}

#user_login,
#user_pass {
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    padding-inline: .8rem;
}
